header{
    font-family: "UbuntuMedium";
    text-align: center;
    //border: 5px solid white;
    width: 100%;
    h1{
        font-size: 80px;
        color: #5886af;
    }
    h2{
        font-family: "UbuntuLight";
        text-transform: uppercase;
        font-size: 22px;
        color: #b47b44;
    }
    nav{
        margin: 30px 0 30px 0;
        background: #5886af;
        box-shadow: 0 2px 5px #0f1e32;
        padding: 10px 0;
        .menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: #f4fafd;
            li{
                font-family: "UbuntuLight";
                font-size: 18px;
                text-transform: uppercase;
                margin: 10px 20px 10px 10px;
                a{
                    color: #f4fafd;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    padding: 0 0 0 25px;
                }
                a:hover{
                    color: #0f1e32;
                }

                .home{
                    background: url(../img/ico/home.svg) left/18px 18px no-repeat;
                    transition: all 0.4s ease;
                    &:hover{
                        background: url(../img/ico/home-hover.svg) left/18px 18px no-repeat;
                    }
                }
                .shops{
                    background: url(../img/ico/shops.svg) left/18px 18px no-repeat;
                    transition: all 0.4s ease;
                    &:hover{
                        background: url(../img/ico/shops-hover.svg) left/18px 18px no-repeat;
                    }
                }
                .concurents{
                    background: url(../img/ico/concurents.svg) left/18px 18px no-repeat, url(../img/ico/pro.svg) right top/15px 15px no-repeat;
                    padding-right: 20px;
                    transition: all 0.4s ease;
                    &:hover{
                        background: url(../img/ico/concurents-hover.svg) left/18px 18px no-repeat, url(../img/ico/pro-hover.svg) right top/15px 15px no-repeat;
                    }
                }
                .performance{
                    background: url(../img/ico/performance.svg) left/18px 18px no-repeat;
                    transition: all 0.4s ease;
                    &:hover{
                        background: url(../img/ico/performance-hover.svg) left/18px 18px no-repeat;
                    }
                }
                .calendar{
                    background: url(../img/ico/calendar.svg) left/18px 18px no-repeat;
                    transition: all 0.4s ease;
                    &:hover{
                        background: url(../img/ico/calendar-hover.svg) left/18px 18px no-repeat;
                    }
                }
            }
            li:first-child{
                margin-left: 10px;
            }
            li:last-child{
                margin-right: 10px;
            }
        }
    }
}