.content{
    max-width: 1360px;
    // width: 100%;
    //height: 100%;
    font-family: "UbuntuRegular";
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .shop-card {
        width: 200px;
        height: 200px;
        margin: 10px;
        background-color: #5886af;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: #f4fafd;
        box-shadow: 1px 1px 5px #0f1e32;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        &:hover {
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            box-shadow: 1px 1px 15px #0f1e32;
        }       

        .addres {
            width: 100%;
            color: #f4fafd;
            margin: 10px 0 10px 0;
        }



        .fact {
            margin: 0 0 10px 0;
        }
}